body{

background-image: url(https://images.unsplash.com/photo-1466916119434-d72cdf577c4d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=086c945f6ad217798b3bb486f4a0d301&auto=format&fit=crop&w=626&q=80);
background-position: center;
background-size: cover;
font-family: Lato;
color: white;

}



#content {

text-align: center;
padding-top: 25%;
text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);,
             0px 8px 13px rgba(0,0,0,0.5),
             0px 18px 23px rgba(0,0,0,0.8);

}

h1 {

  font-weight: 700;
  font-size: 5em;
}

html{

  height: 100%;
}

hr{
width: 400px;
border-top: 1px solid #f8f8f8;
border-bottom: 1px solid rgba(0,0,0,0.2);
}
